body{
    background:#eeeeee;
    display : flex;
    justify-content : center ;
    align-items : center ;
    height: 100vh;
    font-family:Arial;
}

.calculator{
    background: #2a2a3b;
    padding:20px;
    border-radius:12px;
    width:300px;
    box-shadow: 0 0 51px rgb(0,0,0,0.5);
}

#display{
    width :100%;
    height: 60px;
    font-size:26px;
    margin-bottom:15px;
    padding:10px;
    border: none;
    border-radius:9px ;
    background: #b2a9a9;
    color: white;
    text-align:right;
}
/* 
button{
    height: 60px;
    font-size:22px ;
    border: none;
    border-radius:9px ;
    background:#3b3b4f;
    color :white ; 
    cursor: pointer ;
} */

button {
    height: 60px;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #3b3b4f;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.equal {
    grid-column: span 2;
    background: #00c853;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 buttons per row */
    gap: 12px;
    width: 100%;
}

button:hover{
    background:#57576d;
}

.operator{
    background: #ff9500;
}
.equal{
    background:#00c853;
    grid-column:span 2;
}

.clear{
    background: #ff3b3b;
}